*{
    background: #000;
    padding:0;
    border:0;
    margin:0;
    color: #0f0;
    font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
    font-size: 2vw;
    font-style: normal;
    font-variant: normal;
}
body, #console{
    width:100%;
    box-sizing: border-box;
    word-wrap: break-word;
}
#console {
    padding:2vw 2vw 0 2vw;
}
#message{
    outline:0;
    padding:0 2vw 0 2vw;
    width: 100%;
}
img {
    max-width:50%;
}